* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cause", cursive;
}

.container {
    padding-top: 100px;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-around;
}

.row {
    width: 300px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    /* 1. Propiedad que cambia de manera gradual */
    transition-property: transform;
    /* 2. Duración del efecto */
    transition-duration: 0.5s;
}

.row:hover {
    transform: scale(1.05);
    background-color: #dfdfdf;
}

input {
    width: 100px;
    height: 30px;
    padding: 10px;
}

.regs {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.titulo {
    font-size: 34px;
    margin-bottom: 15px;
}

.enviar {
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 0px black;
    font-family: "Cause", cursive;
    background-color: #ffff;
    /* 1. Propiedad que cambia de manera gradual */
    transition-property: transform;
    /* 2. Duración del efecto */
    transition-duration: 0.5s;
}

.enviar:hover {
    transform: scale(1.07);
    border: 2px solid #616161;
    box-shadow: 3px 3px 0px#868686;
    color: #868686;
}

/* css para dashboard-admiiiin :(*/
table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    /* Une los bordes de las celdas */
    margin: 20px auto;
}

th {
    background-color: #CCCCCC;
    text-align: center;
    border: 2px solid #000000;
}

td {
    text-align: center;
    border: 2px solid #000000;
}

.botones {
    display: flex;
}