{% extends "base.html" %}

{% block title %}
Nuevo estudiante 𐀪
{% endblock %}

{% block content %}
<div class="container">
    <h2>Nuevo estudiante</h2>

    <form action="{{ url_for('ingresar_estudiante') }}" method="POST">
        <div class="formulario-container">
            {# curso #}
            <div class="lainp">
                <label for="curso">Curso</label>
                <select name="curso_id" id="curso" class="form-control" required>
                    <option value="">-- Selecciona un curso --</option>
                    {% for curso in cursos %}
                    <option value="{{ curso.id_curso }}">{{ curso.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            {# nombre #}
            <div class="lainp">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>

            {# apellido #}
            <div class="lainp">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="apellido" class="form-control" required>
            </div>

            {# edad #}
            <div class="lainp">
                <label for="edad">Edad</label>
                <input type="number" id="edad" name="edad" class="form-control" required min="1">
            </div>

            <button type="submit" class="btn btn-primary">Guardar estudiante</button>
        </div>
    </form>

    <a href="{{ url_for('cursos') }}">Volver al inicio 🏠︎</a>
</div>
{% endblock %}