<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap" rel="stylesheet">
    <title>Perfil</title>
</head>

<body>
    <nav>
        <h1>Andrea</h1>
    </nav>
    <main>
        <div class="mensajes">
            <div class="escribir">
                <h2><i>Mensajes para Andrea</i></h3>
                    <div class="textoo">
                        <input type="text">
                        <button class="enviar">Enviar</button>
                    </div>
            </div>

            <div class="mensajes_de">
                <a href="#">Mensaje de Katya, hace 5 hora(s)</a>
                <p>Puedes copiar y pegar contenido con el menú del botón derecho del ratón aunque, por razones de
                    seguridad, la mayoría de los navegadores no permiten que las aplicaciones web (como Documentos,
                    Hojas de cálculo o Presentaciones) usen el portapapeles de tu ordenador a través de los menús.</p>
            </div>
        </div>
        <div class="container-dos">
            <div class="comentarios">
                <div class="comentario">
                    <h2>Comentarios</h2>
                    <a href="#">Comentario de Patricia, hace 1 hora(s)</a>
                    <p>Había una vez un pueblo que cultivaba estrellas en macetas de barro. Cada noche, el guardián del
                        faro
                        subía a la torre para encender el cielo con la cosecha. Un día, el viento del norte sopló tan
                        fuerte
                        que
                        borró los caminos de plata, obligando a una niña y a un zorro dorado a buscar el origen del
                        viento.
                    </p>
                </div>

                <div class="textoo">
                    <input type="text">
                    <button class="enviar">Enviar</button>
                </div>
            </div>
        </div>
    </main>

</body>

</html>