<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} mb-3">{{ message }}</div>
        {% endfor %}
        {% endwith %}

        <div class="profile-box">
            <h1>¡Hola {{ usuario.nombre }}!</h1>
            <a href="{{ url_for('cerrar') }}" class="btn">Cerrar Sesión</a>
            <a href="{{ url_for('borrar', id=usuario.id) }}" class="btn">Borrar</a>
        </div>
    </div>
</body>

</html>